<h1><%= @product.name %> </h1>
<% if @product.photo.present? %>

<p> <%= image_tag @product.photo.url(:medium) %>
  <% end %>

<h4> Price: </h4>
<p><%=@product.price %></p>
<h4> Description: </h4>
<p><%=@product.description %></p>

<% if current_user && current_user.account_type == true %>
  <p><%= link_to "Edit this product", edit_product_path(@product), :class => "btn btn-default" %></p>
<p><%= link_to "Delete this product", product_path(@product),
                         :confirm => "You sure?",
                         :method => "delete",
                         :class => "btn btn-danger" %></p>
<% end %>

